//>>>>> Component Button Here <<<<<//
.theme-btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: capitalize;
  text-align: center;
  background-color: $theme-color;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 19.5px 40px;
  min-width: 170px;
  border-radius: 30px;

  i {
    margin-left: 5px;
  }

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: $header-color;
    z-index: -1;
    transition: all 0.4s ease-out;
    border-radius: inherit;
  }

  &:hover {
    color: $white;
    box-shadow: none;

    &::before {
      width: 100%;
    }
  }

  &.bg-color-2 {
    background-color: $theme-color-2;

    &::before {
      background-color: $white;
    }

    &:hover {
      color: $header-color;
    }
  }

  &.bg-white {
    background-color: $white;
    color: $header-color;

    &:hover {
      color: $white;
    }
  }

  &.border-white {
    padding: 18.5px 40px;
    border: 1px solid $white;
    background-color: transparent;

    &::before {
      background-color: $white;
    }

    &:hover {
      color: $header-color;
    }
  }

  @include breakpoint(max-md) {
    padding: 20px 32px;
  }

  @include breakpoint(max-sm) {
    padding: 18px 30px;
    font-size: 14px;
  }
}

.theme-btn-2 {
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  color: $text-color;
  text-transform: capitalize;

  i {
    margin-left: 10px;
  }

  &:hover {
    color: $theme-color;
  }
}

//>>>>> Component Button End <<<<<//
